<h1>Simple Ecommercer Web App</h1>
<h2>Simplifica tu tienda en linea</h2>
<img src="images/negociosweb.jpg" alt="simple ecommerce">
<form action="/hook" method="post">
    <label for="txtEmail">Reserva tu lugar para ser de los primeros en usarlo cuando lo lieremos</label>
    <input type="email" name="txtEmail" id="txtEmail" placeholder="tucorre@electr.nico">
    <br>
    <button type="submit" name="btnAdd">Quiero Pariticipar</button>
</form>